{% macro render(page) %}
  {% set people = page.taxonomies.people | default(value=[]) %}
  {% for author_slug in people %}
    {% set author = get_page(path="people/"~author_slug~"/index.md") %}
    <a
      class="text-decoration-none text-reset"
      href="{{get_taxonomy_url(kind="people", name=author_slug)}}"
      title="{{author.title}}"
    ><b>{{author.title}}</b></a>{% if not loop.last %}, {% endif %}
  {% endfor %}{% if people | length > 0 %} - {% endif %}
  {{page.date | date(format=config.extra.date_format)}}
{% endmacro %}
